.article_container{
    background-color:white;
     padding: 0.5em 1em 0.5em 1em;
     border:solid #e6e6fa ;
     border-width:2px 0px 0px 1em;
     
}
.article_container2{
    
    background-color:white;
}
.show_box{
    border-radius:30px;
    .show_inner{
        width:1000px;
        height:350px;
        margin-left:70px;
    }p.day{
        float:left;
        margin-top:280px;
        }
}
.article_title{
    font-size:25px;
    margin-bottom:50px;
    margin-left:30px;
    
}
h1.article_new{
    font-size:25px;
    margin-bottom:50px;
}
p.create_btn{
    float:right;
    margin-top:30px;
}

p.title{
    margin:10px;
}
p.text{
    margin:10px;
}
